{% extends 'Inicio/base.html' %}

{% block content %}

<div class="container-fluid px-4 mt-4">
    <div class="row align-items-center mb-4">
        <div class="col-2"></div>
        <div class="col-8 text-center">
            <h1 class="page-title">
                <i class="fa-solid fa-vials"></i> LISTADO DE SERVICIOS
            </h1>
        </div>

        
<form method="GET" class="container mb-2 mt-4">
    <div class="row align-items-center g-2">

        <div class="col">
            <input type="text"
                   name="q"
                   value="{{ query }}"
                   class="form-control form-control-lg"
                   placeholder="🔍 Buscar paciente o doctor...">
        </div>

        <div class="col-auto">
            <button class="btn btn-pro btn-square btn-square-lg btn-guardar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

    </div>
</form>

    <div class="card border-0 shadow-lg rounded-4">
        <div class="card-body table-responsive p-4">

            <table class="table table-hover align-middle text-center"id="tablaExamenesRealizado">
                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Paciente</th>
                        <th>Servicios Realizados</th>   <!-- Cambiado -->
                        <th>Doctor</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for examen in examenes %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                            {% if examen.familiar %}

                                <div>
                                    <strong>
                                        {{ examen.familiar.nombre }}
                                        {{ examen.familiar.apellido }}
                                    </strong>

                                    <div class="mt-1">
                                        <span class="text-warning">
                                            {{ examen.familiar.parentesco }}
                                        </span>
                                    </div>

                                    <small class="text-muted d-block mt-1">
                                        Titular:
                                        {{ examen.familiar.paciente_titular.nombre }}
                                        {{ examen.familiar.paciente_titular.apellido }}<br>
                                        {{ examen.familiar.parentesco }}
                                    </small>
                                </div>

                            {% else %}

                                {{ examen.paciente.nombre }}
                                {{ examen.paciente.apellido }}

                            {% endif %}
                        </td>
                            <!-- Mostrar múltiples exámenes -->
                            <td class="text-start">
                                {% with examenes_list=examen.examenes_realizados.all %}
                                    {% if examenes_list %}
                                        {% for item in examenes_list %}
                                            <span class="text-success me-1">{{ item.examen }}</span>
                                        {% endfor %}
                                    {% else %}
                                        <span class="text-muted">Sin exámenes</span>
                                    {% endif %}
                                {% endwith %}
                            </td>

                            <td>{{ examen.doctor|default:"— " }}</td>
                            <td>{{ examen.fecha|date:'d/m/Y H:i' }}</td>
                            <td class="fw-bold text-success">$ {{ examen.total|floatformat:2 }}</td>

                            <td>
                                <a href="{% url 'detalle_examen' examen.id %}" 
                                   class="btn btn-square btn-pro btn-square-md btn-ver">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="py-4">
                                No hay exámenes registrados.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
<nav>
    <ul class="pagination justify-content-center">

{% if page_obj.has_other_pages %}
<div class="card-footer bg-white">
    <nav aria-label="Paginación de páginas">
        <ul class="pagination justify-content-center m-0">

            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                {% if page_obj.has_previous %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ query }}">
                        Anterior
                    </a>
                {% else %}
                    <span class="page-link">Anterior</span>
                {% endif %}
            </li>

            <li class="page-item active">
                <span class="page-link">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
            </li>

            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ query }}">
                        Siguiente
                    </a>
                {% else %}
                    <span class="page-link">Siguiente</span>
                {% endif %}
            </li>

        </ul>
    </nav>
</div>
{% endif %}

    </ul>
</nav>
        </div>
    </div>
</div>


<script>

document.addEventListener('DOMContentLoaded', function() {
    const buscarInput = document.getElementById('buscarExamenRealizado');
    const tabla = document.getElementById('tablaExamenesRealizado').getElementsByTagName('tbody')[0];

    buscarInput.addEventListener('keyup', function() {
        const filtro = this.value.toLowerCase();

        for (let row of tabla.rows) {
            // Saltamos la fila que se muestra cuando la tabla está vacía
            if (row.cells.length < 7) continue; 

            // Capturamos los textos de las columnas correctas
            let paciente = row.cells[1].textContent.toLowerCase();
            let doctor   = row.cells[3].textContent.toLowerCase();
            let fecha    = row.cells[4].textContent.toLowerCase();

            // Evaluamos si el filtro coincide con alguno de los tres criterios
            if (paciente.includes(filtro) || doctor.includes(filtro) || fecha.includes(filtro)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        }
    });
});
</script>
{% endblock %}