<div class="modal fade" id="verModal{{e.id}}" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
         <div class="modal-content border-info">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">
                        <i class="fas fa-eye me-2"></i>Detalle del Examen Médico
                    </h5>

                </div>

            <div class="modal-body">
                 <div class="row g-3">
                        <div class="col-md-6">
                            <div class="card shadow-sm border-light">
                                <div class="card-body p-2">

                                    <p><b>Código:</b> {{e.codigo_exa}}</p>
                                    <p><b>Nombre:</b> {{e.nom_exa}}</p>
                                    <p><b>Tipo:</b> {{e.tipo_exa}}</p>
                                  

                                 </div>
                            </div>
                        </div>

                            <div class="col-md-6">
                                <div class="card shadow-sm border-light">
                                    <div class="card-body p-2">
                                        <p class="mb-1"><strong>Precio:</strong> ${{ e.precio_exa }}</p>
                                        <p class="mb-1"><strong>Descripción:</strong>{{e.caracteristica_exa|default:"No especificadas"}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="card shadow-sm border-light">
                                    <div class="card-body p-2">
                                        <p class="mb-1"><strong>Creado:</strong> {{ e.creado_en_exa|date:"d/m/Y H:i" }}</p>
                                        <p class="mb-0"><strong>Última Actualización:</strong> {{ e.actualizado_exa|date:"d/m/Y H:i" }}</p>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-center mt-3">
                                <button type="button" class="btn btn-pro btn-x btn-square btn-square-lg" data-bs-dismiss="modal"><i class="fas fa-x me-2"></i>
                                
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>