{% extends "Inicio/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid px-4 mt-4">

    <!-- ERRORES -->
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul class="mb-0">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- FORMULARIO -->
    <div class="card shadow-lg border-0"
         style="border-radius: 20px; overflow: hidden; margin-top:90px">

        <div class="card-header py-3 text-center"
             style="background: linear-gradient(135deg, #134790 20%, #195CBD 50%, #116BED 90%);">

            <h5 class="m-0 font-weight-bold text-white uppercase"
                style="letter-spacing: 1px;">

                <i class="fa-solid fa-people-roof"></i>
                REGISTRAR CARGA FAMILIAR

            </h5>
        </div>

        <div class="card-body mt-4">

            <form method="POST">
                {% csrf_token %}

                <div class="row">

                    {% for field in form %}

                        <div class="col-md-6 mb-3">

                            <label class="form-label fw-semibold">
                                {{ field.label }}
                            </label>

                            <div class="input-group">

                                <span class="input-group-text">

                                    {% if field.name == "paciente_titular" %}
                                        <i class="fa-solid fa-user-injured text-primary"></i>

                                    {% elif field.name == "nombre" %}
                                        <i class="fa-solid fa-user text-primary"></i>

                                    {% elif field.name == "apellido" %}
                                        <i class="fa-solid fa-user-tag text-primary"></i>

                                    {% elif field.name == "sexo" %}
                                        <i class="fa-solid fa-venus-mars text-primary"></i>

                                    {% elif field.name == "fecha_nacimiento" %}
                                        <i class="fa-solid fa-calendar-days text-primary"></i>

                                    {% elif field.name == "parentesco" %}
                                        <i class="fa-solid fa-people-arrows text-primary"></i>

                                    {% elif field.name == "telefono" %}
                                        <i class="fa-solid fa-phone text-primary"></i>

                                    {% elif field.name == "observacion" %}
                                        <i class="fa-solid fa-notes-medical text-primary"></i>

                                    {% elif field.name == "activo" %}
                                        <i class="fa-solid fa-toggle-on text-primary"></i>

                                    {% else %}
                                        <i class="fa-solid fa-pen text-primary"></i>
                                    {% endif %}

                                </span>

                                {{ field }}

                            </div>

                            {% if field.errors %}
                                <div class="text-danger small mt-1">
                                    {{ field.errors }}
                                </div>
                            {% endif %}

                        </div>

                    {% endfor %}

                </div>

                <div class="text-center mt-3">

                    {% if user.is_authenticated %}
                        <a href="{% if user.rol == 'PACIENTE' %}
                                    {% url 'pacientes_home' %}
                                 {% elif user.rol == 'ENFERMERA' %}
                                    {% url 'enfermera_home' %}
                                 {% elif user.rol == 'DOCTOR' %}
                                    {% url 'doctor_home' %}
                                 {% elif user.rol == 'ADMIN' %}
                                    {% url 'admin_home' %}
                                 {% else %}
                                    {% url 'home' %}
                                 {% endif %}"

                           class="btn btn-pro btn-edit btn-square btn-square-lg mb-4">

                            <i class="fa-solid fa-house-user me-2"></i>

                        </a>
                    {% endif %}

                    <button type="submit"
                            class="btn btn-pro btn-guardar btn-square btn-square-lg mb-4 ml-2">

                        <i class="fas fa-save me-2"></i>

                    </button>

                </div>

            </form>

        </div>

    </div>

</div>

<br><br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}